:root {
   --MainColor: #4553AD;
   --MainWhite: #fff;
   --MainBlack: #333;
   --MainTransform: transform;
   --FontMainColor: #333;
   --FontSubColor: #555;

   --SubGrandTitle: 40px;
   --SubMiddleTitle: 20px;
   --SubSubTitle: 40px;

   --SubContentsTitle: 32px;
   --SubContentsTitle: 20px;

}

header ul {
   display: flex;
}

.main__Slider {
   width: 100%;
   height: calc(100vh - 80px);
   background-color: #f9f9f9;
   box-sizing: border-box;
}

footer {
   width: 100%;
   height: 500px;
   box-sizing: border-box;
   border-top: 1px solid #ccc;
   background-color: #272727;
   color: var(--MainWhite);
}

/* 공통 상단 문구 */
.container__box {
   padding-top: 120px;
   text-align: left;
   width: 100%;
   max-width: 1320px;
   margin: 0 auto 120px auto;
}

.container__box h2 {
   font-size: 40px;
   color: var(--FontMainColor);
   font-weight: 600;
   margin-bottom: 12px;
}

.container__box p {
   font-size: 20px;
   color: var(--FontSubColor);
   font-weight: 400;
   margin-bottom: 60px;
}

/* 개인정보처리방침 */
.text_layout {
	margin-top: 30px;
}

.text_layout p {
	line-height: 26px;
	margin-bottom: 20px;
	word-break: keep-all;
}

.text_mg0 {
	margin-bottom: 6px !important;
	font-weight: 600;
	color: #222;
}


.text_b {
	font-weight: 600;
   font-size: 18px !important;
	margin-bottom: 10px;
	color: #222;
}

/* ========== 1000px 기준 ========== */
@media screen and (max-width: 1000px) {
   /* 공통 상단 문구 */
   .container__box {
      padding-top: 120px;
   }

   .container__box h2 {
      font-size: 40px;
      color: var(--FontMainColor);
      font-weight: 600;
      margin-bottom: 6px;
   }

   .container__box p {
      font-size: 20px;
      color: var(--FontSubColor);
      font-weight: 400;
      margin-bottom: 60px;
   }
}



/* ========== 768px 기준 ========== */
@media screen and (max-width: 768px) {
   
}



/* ========== 480px 기준 ========== */
@media screen and (max-width: 480px) {
   
}