
.ptag {
   font-size: 20px;
   line-height: 32px;
   color: var(--MainBlack);
   text-align: left;
   word-break: keep-all;
}

.content_container {
   max-width: 1320px;
   width: 100%;
   margin: 0 auto 120px auto;
}

.img_section {
   width: calc(50% - 15px);
   height: 650px;
   background-image: url('/public/images/main_slide_2.jpg');
   box-sizing: border-box;
   padding: 120px 0;
}

.img_section p {
   
}

.content_containe {
   margin: auto;
   width: 80%;
}

.subtitle {
   font-size: 20px;
   color: #555;
   line-height: 32px;
}

.contents {
}

.submain{
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   background-color: #f0f0f0;
}

.section_contain {
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.section_contain {
   padding-top: 80px;
}

.image_section {
   width: calc(50% - 15px);
   height: 650px;
   background-image: url('/public/images/main_slide_3.jpg');
   box-sizing: border-box;
   padding: 120px 0;
}

.image_icon {
   width: 140px;
   height: 140px;
   border-radius: 50%;
}

@media screen and (max-width: 1380px) {
   .content_container {
      width: 90%;
   }
}

@media screen and (max-width: 1024px) {
   .content_container{
      width: 90%;
   }
   .contents{
      width: 95%;
   }
   .image_section{
      width: 100%;
   }
   .ptag{
      width: 100%;
   }
}

@media screen and (max-width: 768px) {
   .contents{
      width: 85%;
   }
   .section_contain{
      flex-direction: column;
      align-items: center;
   }
   .contents{
      width: 85%;
   }
}